<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="a">
        <div>
            <span>
                <!-- 双向数据绑定 -->
                <input type="text" v-model='name'>
                <button @click='t'>添加</button>
                <button @click='s'>删除</button>
                <button @click='q'>替换</button>
            </span>
        </div>
        <ul>
            <li :key='index' v-for='(item,index) in list'>{{item}}</li>
        </ul>
    </div>
    <script src="js/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#a',
            data: {
                name: "",
                list: ['AA', 'BB', 'CC', 'DD','EE','FF']
            },
            methods: {
                // 添加
                t: function () {
                    this.list.push(this.name)
                },
                // 删除
                s: function () {
                    this.list.pop()
                },
                // 切换
                q: function () {
                    // slice:截取
                    this.list = this.list.slice(0, 5)
                }
            },
        })
    </script>
</body>

</html>